*{
    margin: 0;
    padding: 0;
}


body{
    font-family: 'Raleway', sans-serif;
    background-image: url("https://i.pinimg.com/originals/73/a8/29/73a829d389bb7d0bca0e9880900c4ccf.jpg");
    background-size: cover;

}

ul{
    list-style-type: none;
    margin: 0%;
    padding: 0%;
}

li{
    float: right;
}

li a{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

a{
    font-weight: bold;
    transition-duration: 0.5s;
}

.container{
    padding-top: 10%;
    padding-left: 11%;
    color: white;
}

h1{
    font-size: 3rem;
}

h3{
    font-size: 2rem;
}

.navbar-brand{
    color: white;
    padding: 14px 16px;
}

a:hover{
    border-bottom: 2px solid white;
}

.navbar-brand:hover{
    border-bottom: none;
}

.active{
    border-bottom: 2px solid white;
}

.dropdown-content{
    display: none;
    position: absolute;
}

.dropdown:hover .dropdown-content{
    display: block;
}

.center{
    text-align: center;
}

footer{
    text-align: center;
    padding: 3px;
    background-color: black;
    color: white;
    margin-top: 15%;
    padding-left: 13px;
}